<%- include ../layouts/profesor_header.ejs %>

<div class="container blog-content" id="seccion1">

    <div class="row">
        <!-- Columna del medio -->
        <div class="col-sm-12" id="central_col">
            <div class="blog-main" id="asignaturas_dictadas">
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <h4 style="font-weight: 600; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 2px; text-align: center; padding-bottom: 5px; border-bottom: solid #289B89"> Inscribir asignatura
                        </h4><br>
                        <div class="pull-right" style="width: 100px; margin-right: 5px">
                            <form id="form_periodo">
                                <select id="periodo" class="form-control" onchange="get_asignaturas_no_dictadas()">
                                    <%
                                    anio_inicio = 2020;
                                    fecha = new Date();
                                    anio_actual = parseInt(fecha.getFullYear());
                                    dif = anio_actual-anio_inicio;
                                    for(var i=0; i<dif+1; i++) {
                                    %>
                                        <option value="<%=anio_inicio+i%>-1"><%=anio_inicio+i%>-1</option>
                                        <%if(i == dif && fecha.getMonth() > 6){%>
                                            <option value="<%=anio_inicio+i%>-2"><%=anio_inicio+i%>-2</option>
                                        <%}%>
                                    <%}%>
                                </select>
                            </form>
                        </div>
                        <%if(data.length > 0){%>
                            <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" id="tabla_asig" style="width: 100%;top: -7px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Asignatura</th>
                                        <th style="text-align: center;">Periodo</th>
                                        <th style="text-align: center;">Descripción</th>
                                        <th style="text-align: center;">Numero de estudiantes</th>
                                        <th style="text-align: center;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody class="ui-sortable" id="">
                                    <%
                                    for(var i=0; i < data.length; i++){
                                    %>
                                    <tr>
                                        <td style="text-align: center;" class="semana"><%=data[i].asignatura%></th>
                                        <td style="text-align: center;"><%= periodo %></td>
                                        <td style="text-align: center;"><%= data[i].descripcion %></td>
                                        <td style="text-align: center;"><%= data[i].cant_estudiantes%></td>
                                        <td style="padding: 2px">
                                            <button class="btn btn-success btn-sm" id="btn_inscribir" data-idasignatura="<%=data[i].idasignatura%>" style="margin: 0; padding: 0;">
                                                Inscribir
                                            </button>
                                        </td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        <%} else {%>
                            <h5 style="margin: 5px; margin-top: 20px">No hay asignaturas por inscribir.</h5>
                        <%}%>
                        <div class="pull-right">
                            <button class="btn btn-secondary btn-md" onclick='volver(this)' style="margin-top: 10px !important; padding: 0;">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div><!-- /.blog-sidebar -->
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

<script type="text/javascript">
    $(document).ready(function(){
        var largo = $(window).height();
        $("#seccion1").css("min-height", largo-250)
        // console.log("<%=periodo%>");
        $("#periodo").val("<%=periodo%>");
    });

    function volver(ths){
        var periodo = $("#form_periodo :selected").val();
        window.location.href = '/profesor/profesor_index/' + periodo;
    }

    function get_asignaturas_no_dictadas(){
        var periodo = $("#form_periodo :selected").val();
        window.location.href = "/profesor/inscribir_asignatura/" + periodo;
    }
    
    $("#btn_inscribir").on('click',function(e){
        e.preventDefault();
        var periodo = $("#form_periodo :selected").val();
        $.ajax({
            type: 'POST',
            data: JSON.stringify({idasignatura: $("#btn_inscribir").data("idasignatura"), periodo: periodo }),
            contentType: 'application/json',
            url: '/profesor/inscribir_asignatura',
            success: function(data){
                if(data.msj == "ok"){
                    window.location.href = "/profesor/inscribir_asignatura/" + periodo;
                } else{
                    alert("Error al ingresar la calificación, intente nuevamente.");
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    });

</script>

<%- include ../layouts/profesor_footer.ejs %>
