<%- include ../layouts/profesor_header.ejs %>

<div class="container blog-content" id="seccion1">

    <div class="row">
        <!-- Columna del medio -->
        <div class="col-sm-2" style="">
            <i style="font-size:120px; padding: 15px" class="fa fa-user-circle"></i>
        </div>
        <div class="col-sm-10" style="">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" onclick='profesor_chat(this)' data-idusuario="<%= data.idusuario %>" style="margin-top: 10px !important; padding: 0;">
                    Enviar Mensaje
                </button>
                <button class="btn btn-secondary btn-sm" onclick='denunciar_paciente()' style="margin-top: 10px !important; padding: 0;">
                    Denunciar
                </button>
            </div>
            <h2 style="margin-top: 10px"><%=data.first_name%></h2><br>
            <div class="panel panel-default" style="padding: 5px">
                <h4>
                    Información del paciente
                </h4>
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 40%"></th>
                            <th style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h5>Correo:</h5></th>
                            <td><h5><%= data.email %></h5></th>
                        </tr>
                        <tr>
                            <td><h5>Estado:</h5></th>
                            <td>
                                <% if(data.habilitado == 1){ %>
                                    <h5>Habilitado</h5>
                                <% } else { %>
                                    <h5>Bloqueado por denuncia</h5>
                                <% } %>
                            </th>
                        </tr>
                        <tr>
                            <td><h5>Validado en la App:</h5></th>
                            <td></h5><h5>
                                <% if(data.is_active == 1){ %>
                                    <h5>Si</h5>
                                <% } else { %>
                                    <h5>No</h5>
                                <% } %>
                            </th>
                        </tr>
                        <tr>
                            <td><h5>Tratamientos realizados:</h5></th>
                            <td><h5><%= data.cant_tratamientos %></h5></th>
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
        <div class="col-sm-12" id="central_col" style="margin-top: 10px">
            <!-- Tratamientos asignados -->
            <div class="panel panel-default">
                <h4 class="h4_title">
                    Tratamientos Realizados
                </h4><br>
                <%if(data.tratamiento_asignado.length > 0){%>
                    <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" id="tabla_asig" style="width: 100%;top: -7px">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 40%">Tratamiento</th>
                                <th style="text-align: center;">Estado</th>
                                <th style="text-align: center;">Fecha Asignado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                            for(var i=0; i < data.tratamiento_asignado.length; i++){
                            %>
                            <tr>
                                <td style="text-align: center;"><%=data.tratamiento_asignado[i].tratamiento%></th>
                                <td style="text-align: center;">
                                    <%if(data.tratamiento_asignado[i].habilitado == 1){ %>
                                        Finalizado
                                    <%} else {%>
                                        En Proceso
                                    <%}%>
                                </th>
                                <td style="text-align: center;">
                                    <%
                                        var months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                                        var fecha = data.tratamiento_asignado[i].fgen.split("T")[0].split("-")
                                        str_fecha =  fecha[2] + "/" + fecha[1] + "/" + fecha[0]
                                    %>
                                    <%=str_fecha%>
                                </td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                <%} else {%>
                    <h5 style="margin: 5px">No posee tratamientos realizados.</h5>
                <%}%>
            </div>
        </div>

        <!-- Columna derecha -->
        <div class="col-sm-12 blog-sidebar" id="right_col">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <h4 class="h4_title"> Actividad reciente</h4>
                    <h5 style="margin: 10px">Paciente ha avanzado en 2 tratamientos esta semana.</h5>
                    <br>
                </div>
            </div>
        </div>
        <br>
    </div><!-- /.row -->
</div><!-- /.container -->

<!-- Denunciar a paciente -->
<div class="modal fade" id="modal_denuncia" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <form id="form_denuncia_paciente">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h5>Ingresar denuncia</h5>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label>Denuncia</label>
                        <textarea id="denuncia" class="form-control" name="denuncia" cols="100" rows="2"></textarea>
                    </div>
                    <div>
                        <input type="text" style="visibility: hidden" name="idusuario" id="idusuario" value="<%=data.idusuario%>">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button" style="padding: 0">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Denunciar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .h4_title{
        font-weight: 600; 
        padding: 10px; 
        margin-left: 5px; 
        margin-right: 5px; 
        margin-bottom: 2px; 
        text-align: center; 
        padding-bottom: 5px; 
        border-bottom: solid #289B89;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        var largo = $(window).height();
        $("#seccion1").css("min-height", largo-250)
    });
    
    // Muestra/oculta evaluar tratamiento
    function denunciar_paciente(){
        $("#modal_denuncia").modal("show");
    }

    function profesor_chat(ths){
        window.location.href = '/profesor/profesor_chat/' + $(ths).data("idusuario");
    }

    $("#form_denuncia_paciente").on('submit',function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            data: JSON.stringify({
                idusuario: parseInt($("#idusuario").val()), 
                denuncia: $("#denuncia").val() 
            }),
            contentType: 'application/json',
            url: '/profesor/denunciar',
            success: function(data){
                if(data.msj == "ok"){
                    alert = confirm("Denuncia enviada correctamente. El administrador atenderá su denuncia.");
                    if(alert){
                        $("#modal_denuncia").modal("hide");
                        window.location.href = '/profesor/perfil_paciente/<%=data.idpaciente%>';
                    }
                } else{
                    alert("Error al ingresar la denuncia, intente nuevamente.");
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    });

</script>

<%- include ../layouts/footer.ejs %>

