<%- include ../layouts/profesor_header.ejs %>

<div class="container blog-content" id="seccion1">

    <div class="row">
        <!-- Columna del medio -->
        <div class="col-sm-12" id="central_col">
            <div class="blog-main" id="asignaturas_dictadas">
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <h4 class="linea_seccion"> Mis Asignaturas
                        </h4><br>
                        <div class="pull-right" style="width: 100px; margin-right: 5px">
                            <form id="form_periodo">
                                <select id="periodo" class="form-control" onchange="get_asignaturas_dictadas()">
                                    <%
                                    anio_inicio = 2020;
                                    fecha = new Date();
                                    anio_actual = parseInt(fecha.getFullYear());
                                    dif = anio_actual-anio_inicio;
                                    for(var i=0; i<dif+1; i++) {
                                    %>
                                        <option value="<%=anio_inicio+i%>-1"><%=anio_inicio+i%>-1</option>
                                        <%if(i == dif && fecha.getMonth() > 6){%>
                                            <option value="<%=anio_inicio+i%>-2"><%=anio_inicio+i%>-2</option>
                                        <%}%>
                                    <%}%>
                                </select>
                            </form>
                        </div>
                        <%if(data.length > 0){%>
                            <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" id="tabla_asig" style="width: 100%;top: -7px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Asignatura</th>
                                        <th style="text-align: center;">Periodo</th>
                                        <th style="text-align: center;">Descripción</th>
                                        <th style="text-align: center;">Numero de estudiantes</th>
                                        <th style="text-align: center;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody class="ui-sortable" id="">
                                    <%
                                    for(var i=0; i < data.length; i++){
                                    %>
                                    <tr>
                                        <td style="text-align: center;" class="semana"><%=data[i].asignatura%></th>
                                        <td style="text-align: center;"><%= periodo %></td>
                                        <td style="text-align: center;"><%= data[i].descripcion %></td>
                                        <td style="text-align: center;"><%= data[i].cant_estudiantes%></td>
                                        <td style="padding: 2px">
                                            <button class="btn btn-primary btn-sm" data-idasignatura_dictada="<%=data[i].idasignatura%>" onclick='estudiantes_asignatura(this)' style="margin: 0; padding: 0;">
                                                Estudiantes
                                            </button>
                                            <button class="btn btn-secondary btn-md desinscribir_asignatura" data-idasignatura="<%=data[i].idasignatura%>" style="margin: 0; padding: 0;">
                                                <i style="font-size:18px" class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        <%} else {%>
                            <h5 style="margin: 5px; margin-top: 20px">No posee asignaturas inscritas.</h5>
                        <%}%>
                        <div class="pull-right">
                            <button class="btn btn-success btn-md" onclick='inscribir_asignatura(this)' style="margin-top: 10px !important; padding: 0;">
                                Inscribir asignatura
                            </button>
                        </div>
                    </div>
                </div><!-- /.blog-sidebar -->
            </div>
        </div>

        <!-- Columna derecha -->
        <!-- <div class="col-sm-4 blog-sidebar" id="right_col">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <h4 style="font-weight: 600; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 3px; text-align: center; padding-bottom: 5px; border-bottom: solid #289B89"> Información de utilidad</h4>
                    <h5 style="margin: 10px">Nuevos casos de infeccion de coronavirus en Peru.</h5>
                    <br>
                </div>
            </div>
        </div>
        <br> -->
        
        <!-- Datos estadisticos -->
        <div class="col-sm-12">
            <div class="blog-main" id="asignaturas_dictadas">
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <h4 class="linea_seccion"> Análisis estadístico
                        </h4><br>
                        <iframe width="1000" height="500" src="https://datastudio.google.com/embed/reporting/e75cd097-f9df-41f2-9777-fcafdd28bba4/page/Pi2CB" frameborder="5" style="border:0; width: 100%" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        
    </div><!-- /.row -->
</div><!-- /.container -->

<script type="text/javascript">
    $(document).ready(function(){
        var largo = $(window).height();
        $("#seccion1").css("min-height", largo-250)
        console.log("<%=periodo%>");
        $("#periodo").val("<%=periodo%>");
    });

    function estudiantes_asignatura(ths){
        window.location.href = '/profesor/estudiantes_asignatura/' + $(ths).data("idasignatura_dictada");
    }

    function get_asignaturas_dictadas(){
        var periodo = $("#form_periodo :selected").val();
        window.location.href = "/profesor/profesor_index/" + periodo;
    }
    
    function inscribir_asignatura(){
        var periodo = $("#form_periodo :selected").val();
        window.location.href = "/profesor/inscribir_asignatura/" + periodo;
    }

    $(".desinscribir_asignatura").on('click',function(e){
        e.preventDefault();
        var periodo = $("#form_periodo :selected").val();
        $.ajax({
            type: 'POST',
            data: JSON.stringify({idasignatura: $(this).data("idasignatura"), periodo: periodo }),
            contentType: 'application/json',
            url: '/profesor/inscribir_asignatura',
            success: function(data){
                if(data.msj == "ok"){
                    window.location.href = "/profesor/profesor_index/" + periodo;
                } else{
                    alert("Error al ingresar la calificación, intente nuevamente.");
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    });

</script>

<%- include ../layouts/footer.ejs %>
